.all {
  background: linear-gradient(120deg, #850f67, #265ae7);
  background-size: cover;
  background-repeat: no-repeat;
  height: 960px;
}
/* .user-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
} */

/* label {
    display: block;
    margin-bottom: 5px;
} */
