<div *ngIf="!isAdd">
    <img [src]="pokemon.img" alt="{{ pokemon.name }}" />
    <p>Name: {{ pokemon.name }}</p>
    <p>Type: {{ pokemon.type?.join(', ') }}</p>
    <p>Height: {{ pokemon.height }}</p>
    <p>Weight: {{ pokemon.weight }}</p>
    <p>candy: {{pokemon.candy}}</p>
    <p>spawn chance: {{pokemon.spawn_chance}}</p>
    <p>weaknesses: {{pokemon.weaknesses}}</p>
  </div>

  <div *ngIf="isAdd">
    <div *ngFor="let deck of deckData" class="deck-button" (click)="onDeckClick(deck._id, pokemon)">
      {{ deck.name }}
    </div>
  </div>
  
  