<div class="data-view-container">
  <p-button
    icon="pi pi-plus"
    (click)="onClickCreate()"
    [rounded]="true"
    [text]="true"
    severity="Warn "
  ></p-button>
  <p-dataView
    class="data-view"
    #dv
    [value]="deck"
    [rows]="5"
    [paginator]="true"
  >
    <ng-template class="data-view" let-deck pTemplate="listItem">
      <div class="col-12">
        <div
          class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
        >
          <div
            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
          >
            <div
              class="flex flex-column align-items-center sm:align-items-start gap-3"
            >
              <div class="text-2xl font-bold text-900">{{ deck.name }}</div>
            </div>
            <div
              class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
            >
              <p-toast></p-toast>
              <p-button
                icon="pi pi-info"
                (click)="onClick(deck._id)"
                [rounded]="true"
                [text]="true"
                severity="info "
              ></p-button>
              <p-button
                icon="pi pi-trash"
                (click)="deleteOnClick(deck._id)"
                [rounded]="true"
                [text]="true"
                severity="danger "
              ></p-button>
              <p-button
                icon="pi pi-pencil"
                (click)="editOnClick(deck._id)"
                [rounded]="true"
                [text]="true"
                severity="danger "
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
